[package]
name = "utils"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
description = "Utilities for the parser and reader crates"
repository.workspace = true
license-file.workspace = true

[lib]
crate-type = ["lib"]

[dependencies]
web-sys.workspace = true
